@use './variables.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Snell Roundhand, cursive;
  background-color: $bg-main;
  color: $text-main;

  font-size: 30px;
  margin-top: 50px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    background-color: $bg-main;
    color: #fff;
    padding: 16px;
  }

  &__content {
    flex: 1;
    padding: 16px;
  }

  &__footer {
    text-align: center;
    padding: 12px;
    background-color: #eee;
  }

  &_title {
    text-align: center;
  }
}

.home {
  &__title {
    margin-bottom: 50px;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
    font-family: 'Inter', Arial, sans-serif;
  }
}

.movie-card {
  background-color: $bg-secondary;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgb(204, 0, 0);
    color: $accent;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  &__content {
    padding: 8px;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 4px;
  }

  &__year {
    font-size: 14px;
    color: #666;
  }
}

.movie {
  &__back {
    display: inline-block;
    margin-bottom: 16px;
    color: $text-muted;
    text-decoration: none;
    text-align: left;
  }

  &__back:hover {
    color: $accent;
  }

  &__content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  &__poster {
    width: 30%;
    border-radius: 8px;
  }

  &__info {
    max-width: 600px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    margin-top: 12px;
    line-height: 1.5;
    text-size-adjust: auto;
    font-size: 20px;
  }
}

.search {
  margin-bottom: 16px;
  text-align: right;

  &__input {
    width: 100%;
    max-width: 300px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 80px;
    border: 1px solid #ccc;
  }
}

@media (max-width: 600px) {
  .movie {
    &__content {
      flex-direction: column;
    }

    &__poster {
      width: 100%;
      max-width: 300px;
    }
  }
}